<h1>Consulta</h1>

<h3>Data: <%= @consulta_medica.data %></h3>
<h3>Horário: <%= @consulta_medica.horario %></h3>

<%= link_to "Voltar", consulta_medicas_url %>
<%= link_to "Editar", edit_consulta_medica_path(@consulta_medica)%>


